body {
	background-color: #efefef;
	overflow-x: hidden;
}

/* Overides */

.navbar-default {
	background-color: #fff;
}

.nav li:hover {
	background-color: #efefef;
}

.modal-white {
	background-color: #fff;
	padding: 20px;
	border-radius: 4px;
	border: 1px solid #ddd;
	margin-top: 20px !important;
}

.small-form {
	width: 100%;
	max-width: 400px;
	margin: auto;
	text-align: center;
}

/* Given to any element that needs to be 100% its container width*/
.full-width {
	width: 100%;
}

.three-width {
	width: 100%;
}

/* */

/* custom header and text styling */

.no-top-margin {
	margin-top: 0;
	margin-bottom: 20px;
}

.form-control {
	margin-bottom: 20px;
}

.form-control-ultagit {
	height: auto;
}

.input-message {
	text-align: left;
	margin-top: -10px;
}

.input-error {
 	color: #A94442;
}

.centre-menu {
	text-align: center;
}

.add-build-btn {
	color: green;
}

/* Masonry */

.item {
	opacity: 0.9;
	margin-bottom: -20px;
	padding: 5px;
}

.item:hover {
	opacity: 1;
}

.build-image {
}

.build-image img {
	width: 100%;
	height: auto;
}

.col-md-3 {
    background-color: #fff;
    height: auto;
    word-wrap: break-word;
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.col-md-3 {
    width: calc(33% - 20px);
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.col-md-3 {
    width: calc(50% - 20px);
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	.col-md-3 {
    width: calc(100% - 20px);
	}
}

.file-btn {
	opacity: 0;
	margin-top: -9999999px;
	position: absolute;
}

.btn-left {
	float: left;
}

.upload-fake-btn:hover {
	cursor: pointer;
}

.upload-fake-btn {
	margin-left: -1px;
	margin-top: -1px;
}

.upload-btn {
	margin-bottom: 20px;
	height: 34px;
	border: 1px solid #ccc;
	border-radius: 6px;
	line-height: 35px;
	color: #aaa;
	text-align: left;
}

.fake-btn-filename {
	margin-left: 10px;
}

.build-information {
	height: 48px;
	line-height: 48px;
	font-size: 20px;
	color: #333;
	padding-left: 10px;
	padding-right: 10px;
}

.buildimage {
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 100%;
}

.buildimage-large {
	width: 100%;
}

.buildimage-small {
	width: auto;
}

.buildimage-smiley {
	width: auto;
	max-width: 30px;
}

.new-post-btn {
	float: right;
	margin-top: 7px;
}

.build-title {
	float: left;
	width: 50%;
	text-align: left;
	font-size: 12px;
}

.glyphicon {
}

.centre-text {
	text-align: center;
}

.no-padding {
	padding: 0;
}

.form-control-addupdate, .form-control-editupdate {
	width: 100%;
	border: 0;
	margin-left: 0;
	resize: none;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	height: auto;
	min-height: 200px;
	max-height: 300px;
	overflow-y: auto;
}

.form-control-addupdate[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555; 
}

.insert-image, .edit-insert-image {
	float: right;
}

.new-update-image {
	max-width: 98%;
}

.textarea-placeholder {
	color: #ccc;
}

.update {
	word-wrap: break-word;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.build-image {
	max-width: 100%;
}

#posts {
	overflow: hidden;
	width: 100%;
	margin: auto;
}

#builds {
	overflow: hidden;
	width: 100%;
	margin: auto;
	display: none;
}

.image_preview_container {
	width: 100%;
	margin: auto;
	display: none;
	margin-bottom: 20px;
}

#image_preview {
	max-width: 100%;
	border-radius: 4px;
}

.centre-text {
	text-align: center;
}

.update-insertimage-form, .edit-insertimage-form {
	position: absolute;
	right: 37px;
	width: 1px;
	overflow: hidden;
	opacity: 0;
}

.follow-button {
	float: right;
}

.follow-button:hover {
	background-color: #5cb85c;
	border-color: #4cae4c;
	color: white;
}

.temp_added_image {
	max-width: 100%;
}

.uploading-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.6;
	text-align: center;
	color: white;
	top: 0;
	left: 0;
	line-height: 200px;
}

#newupdate-text, #newupdate-text-edit {
	display: none;
}

.uploading-overlay {
	display: none;
}

.edit-post-btn {
	float: right;
}

.panel-footer {
	overflow: auto;
}

.check-delete-post {
	display: none;
}

.add-build-item {
	height: 200px;
	border: dashed 4px #2ecc71;
	border-radius: 4px;
	color: #2ecc71;
 	margin-left: 20px;
 	margin-right: 20px;
}

.add-build-item:hover {
	border: dashed 4px #27ae60;
	color: #27ae60;
}

.add-build-item .large-icon {
	text-align: center;
	font-size: 80px;
	height: 200px;
	line-height: 200px;
}

.large-icon .large-icon-title {
	text-align: center;
	margin-top: -50px;
}

.inherit-color, .inherit-color:hover {
	color: inherit;
}

.float-right-headerbutton{
	float: right;
	margin-top: -5px;
}

.pageheader-withbutton {
	overflow: auto;
	margin-bottom: 10px;
}