RewriteEngine On
RewriteBase /
RewriteCond %{REMOTE_HOST} !^86.144.23.71
RewriteRule .* https://www.facebook.com/buildsanctuary/posts/522660147878638 [R=302,L]

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
